.card-repo {
    background-color: #d1f2fc;
    border: 2px solid #7bc2fc; 
    padding: 20px;
    transition: transform 0.3s ease;
    max-width: 20em;
    width: 13em;
    margin: 10px;
    position: relative; /* Necesario para posicionar el pseudo-elemento */
}

/* Pseudo-elemento para crear la esquina doblada */
.card-repo::before {
    content: '';
    position: absolute;
    top: -2.3em;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
    background-color: #ffffff; /* Color de la parte interna de la hoja */
    border: 2px solid #7bc2fc;
    transform: translate(5%, 5%) rotate(-90deg);
    transform-origin: bottom right;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1); /* Sombra de la esquina doblada */
    z-index: 1; /* Asegurarse de que el pseudo-elemento esté encima del fondo */
    clip-path: polygon(0 0, 100% 0, 0% 100%);
}

/* Pseudo-elemento para dar la ilusión de la parte doblada */
.card-repo::after {
    content: '';
    position: absolute;
    top: -2.7em;
    width: 36px;
    height: 36px;
    bottom: 0;
    right: 0;
    background-color: #ffffff; /* Color de la parte trasera de la hoja */
    transform: translate(7%, 5%) rotate(-90deg);
    transform-origin: bottom right;
    z-index: 0; /* Coloca esta parte debajo del contenedor principal */
    clip-path: polygon(100% 0, 100% 100%, 0% 100%);
}

.card-repo:hover {
    transform: translateY(-15px);
}

.logo-empresa-revi{
    height: auto;
    margin: 0 auto 20px auto; 
    display: block;
    width: 5em;
    height: 3em;
    object-fit: contain;
    flex: 0 0 56px;
    border-radius: 12px;
    background: #ffffff;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}