.cont-card-repo {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples líneas si no caben en una sola fila */
    justify-content: space-around; /* Distribuye espacio alrededor de cada tarjeta */
    width: 85vw; 
    max-width: 90vw; 
    margin: 0 auto; 
    margin-top: 7em;
    padding: 2vh; 
    border-radius: 1vw; 
    border: 3px solid #b8b8b8;
    background-color: var(--bg-secondary);
    margin-top: 50px;
}

.divider {
    flex-basis: 100%;         /* Hace que ocupe toda la línea en el contenedor flex */
    border-top: 2px solid black;
    margin: 20px 0;
    position: relative;
    text-align: center;
}

.divider::after {
    content: attr(data-label); /* Usa el atributo data-label para mostrar el texto */
    position: absolute;
    top: -12px;               /* Ajusta según el espacio deseado */
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;      /* Mismo color de fondo que el contenedor para "romper" la línea */
    padding: 0 10px;
    color: black;
}
