.mens-error{
    display: block;
    margin-top: 15%;
    margin-left: 25%;
    padding: 30px;
    width: 50%;
    height: 60%;
    border-radius: 20px;
    justify-content: center;
    font-size: 50px;
    background-color: aliceblue;
}

.buttons-g{
    position: absolute;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.buttons-g button{
    width: 10rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    background-color: #00cc7e;
}

.buttons-g button:hover{
    background-color: #00804f;
}


.nota-rechazo-container{
    margin-top: 50px;
    position: absolute;
}

.no-border {
    width: 100%;
}

.custom-select option {
    color: inherit;
}

.custom-select {
    color: inherit;
}


.cont-part{
    margin-top: -6rem;
    position: absolute;
}

.button-part{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25%;
    background-color: rgb(0, 0, 0);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.button-part:hover{
    background-color:  rgb(77, 77, 77);
}

.part-div{
    display: inline-flex;
}
