.mens-error{
    display: block;
    margin-top: 15%;
    margin-left: 25%;
    padding: 30px;
    width: 50%;
    height: 60%;
    border-radius: 20px;
    justify-content: center;
    font-size: 50px;
    background-color: aliceblue;
}

.buttons-g{
    position: absolute;
    display: flex;
    margin-left: 45rem;
    gap: 10px;
}

.buttons-g button{
    width: 10rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    background-color: #00cc7e;
}

.buttons-g button:hover{
    background-color: #00804f;
}

.button-final{
    position: absolute;
    display: flex;
    margin-left: 60rem;
    gap: 10px;
}

.button-final button{
    width: 10rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    background-color: #00cc7e;
}

.nota-rechazo-container{
    margin-left: 22rem;
    margin-top: 50px;
    z-index: 1;
    position: absolute;
}

.textarea-ishi{
    height: 10rem;
}

.no-border {
    width: 100%;
}

.custom-select option {
    color: inherit;
}

.custom-select {
    color: inherit;
    width: 15rem;
    height: 2rem;
    font-size: 15px;
    border:none;
    text-align: center;
    position: absolute;
   
}

.td-fechas{
    display: flex;
    justify-content: center;
}

.button-cancel{
    display: flex;
    margin-top: 35px;
    justify-content: center;
    gap: 20px;
    margin-left: -6rem;
    margin-right: -6rem;
}

.button-repro{
    background-color: #186c9c;
    color: #ffffff;
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-new-date{
    background-color: #189c44;
    color: #ffffff;
    width: 9rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cont-part{
    margin-top: -6rem;
    position: absolute;
}

.button-part{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 25%;
    background-color: rgb(0, 0, 0);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.button-part:hover{
    background-color:  rgb(77, 77, 77);
}

.part-div{
    padding: 10px;
    display: inline-flex;
}

.logo-empresa-ish {
    height: auto;
    max-width: 13rem;
    border-radius: 10px;
    margin: 0 60rem 0 0;
    margin-bottom: 20px;
}














/*Otros estilos*/

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto 0;
    width: 79em;
    height: 100%;
    max-width: 80rem;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    z-index: 1;
}

.responsive-image {
    position: absolute;
    left: 7rem;
    top: 1rem;
    width: 70rem;
    height: 60rem;
    z-index: -1;
}

.text-area {
    background-color: transparent;
    color: black;
    position: absolute;
    font-size: larger;
    width: 12em;
    height: 3.8em;
    text-align: center;
    resize: none;
    border: none;
    outline: none;
    overflow: hidden; 
}

.posicion-en{
    margin-right: 62rem;
}

.posicion-en-2{
    position: absolute;
    top: 8rem;
    margin-left: 56rem;
}

.logo-empresa-ishi {
    height: auto;
    max-width: 15rem;
    border-radius: 10px;
    margin: 0 0 0 62rem;

}

.posicion-bo{
    margin-top: 37rem;
}

.button-agregar{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
    color: #ffffff;
    border: none;
    background-color: rgb(0, 76, 216);
}

.button-guar-ish{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 10px;
    color: #ffffff;
    border: none;
    background-color: rgb(0, 216, 126);

}

.table-ish table {
    width: 70rem;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

.table-ish th{
    padding: 4px;
    background-color:  #189c44;
    color: #ffffff;
}

.sub-div{
    flex-direction: column;
    align-items: center;
}

.left{
    margin-left: 25%;
}

.right{
    margin-left: 45%;
}

.posicion-en h2 {
    position: relative;
}

.problema-input {
    position: absolute;
    height: 23px;
    width: 45rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}

.textarea-acc{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}

.table-input{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: none;
}

.cancel-acc {
    border: none; 
    padding: 0; 
  }
  
  .cancel-acc button {
    padding: 9px;
    border-radius: 8px;
    background: #ff0a0a; 
    border: none; 
    color: #ffffff; 
    cursor: pointer; 
  }
  