.cont-card-repo {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples líneas si no caben en una sola fila */
    justify-content: space-around; /* Distribuye espacio alrededor de cada tarjeta */
    width: 85vw; 
    max-width: 90vw; 
    margin: 0 auto; 
    padding: 2vh; 
    border-radius: 1vw; 
    margin-top: 7em; 
    margin-bottom: -5em;
    border: 3px solid #b8b8b8;
    background-color: var(--bg-secondary);
}