.navbar-container {
  background-color: transparent;
}

.navbar-custom {
  border-radius: 15px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  margin: 0 auto 20px; 
  height: auto; 
  width: 100%;
  max-width: 200px;
  display: block;
  border-radius: 10px;
}

.dropdown-toggle {
  border: none;
  background: transparent;
  color: #000000;
  width: 100%;
  text-align: center;
  padding: 0;
}

.list-item {
  padding: 10px 0; 
}

.list-item-text {
  text-align: center;
  font-size: 1rem;
  font-weight: 50;
  color: #333;
}

.link-button {
  border: none;
  background: transparent;
  color: #000000;
  width: 100%;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 768px) {
  .drawer-container {
    width: 84%;
    max-width: 250px; 
  }
}

.menu-icon {
  color: #ffffff;
}

.dropdown-menu {
  position: absolute;
  width: 200px;
  border-radius: 10px;
  background-color: #D9D9D9;
  z-index: 1;
}

.link-button:hover {
  border-radius: 10px;
}

.dropdown-menu button:hover {
  background-color: #3ccc37;
  color: #ffffff;
}




.drawer-container {
  width: 83.5%;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.drawer-list {
  flex-grow: 1;
}

.logout-container {
  margin-top: auto;
}

.logout-button {
  border: none;
  background-color: #3ccc37;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.swal2-container {
  z-index: 1200;
}



