.programas-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.programas-container-ext {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #FFFD70;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.programas-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.programas-container form {
  display: flex;
  flex-direction: column;
}

.programas-container form > div {
  margin-bottom: 15px;
}

.programas-container label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.programas-container input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.programas-container button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #00B096;
  color: #ffffff;
  cursor: pointer;
}

.programas-container button[type="button"] {
  background-color: #ffffff;
  border: 2px solid #00B096;
  color: #00B096;
}

.programas-container button:hover[type="button"] {
  background-color:  #02fca8;
  color: #000000;
}

.programas-container button:hover {
  background-color:  #006d5d;
}

.programas-container textarea {
  width: 99%; /* Ajusta el ancho según sea necesario */
  height: 90px; /* Ajusta la altura según sea necesario */
}

.centrado-pro {
  margin: 7rem auto 0;
}

/* Estilos adicionales para el área de arrastre y soltura de archivos */
.file-drag-drop {
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.file-drag-drop:hover {
  border-color: #00B096;
  background-color: #f0f0f0;
}

.file-drag-drop {
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.file-drag-drop:hover {
  border-color: #00B096;
  background-color: #f0f0f0;
}

.align-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.datos-container-prog-2 {
  margin-bottom: 20px;
  margin: 2rem auto 0;
  width: 68%;
  max-width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-container-datos-prog {
  text-align: center; 
  margin-bottom: 10px; 
}

.header-container-datos-prog button {
  padding: 10px 20px;
  width: 100%;
  font-size: 16px;
  background-color: #00B096; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .datos-container-prog-2 {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .datos-container-prog-2 {
    width: 80%;
  }
}

.tabla-programa table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla-programa table, th, td {
  border: 1px solid #ddd;
}

.tabla-programa th, td {
  padding: 8px;
  text-align: left;
}

.tabla-programa th {
  background-color: #BFFF99;
}



.header-container-datos-prog button:hover {
  background-color: #35b32d; 
}

.list-programa{
  text-align: center;
}


