.content-inf{
    
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.inf-usuario{
    text-align: center;
}

.inf-contra{
    text-align: center;
    margin-bottom: 10px;
}

.input-inf{
    width: 50%;
    height: 20px;
}