.fixed-modal {
  position: fixed !important;
  top: 0% !important;
  left: 50% !important;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) !important;
  z-index: 100 !important;
}

.camera-button {
  position: fixed;
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.camera-switch-button{
  position: fixed;
  top: 60%;
  left: 96%;
  transform: translate(-50%, -50%);
  z-index: 999;
}