.datos-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0;
    width: 67vw;
    max-width: 70vw;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-empresa {
    height: auto;
    max-width: 20%;
    border-radius: 10px;
    margin: 0 0 20px 0;
}

.button-group-datos {
    display: flex;
    gap: 10px;
}

.btn-registrar-datos {
    background-color: #00B096;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-registrar-datos:hover {
    background-color: #00e7c5;
    color: #000000;
}

.btn-registrar-datos:not(:last-child) {
    margin-right: 10px;
}

.header-container-datos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.duracion-bloque {
    width: 68vw;
    margin-bottom: 20px;
    background-color: #00B096;
    cursor: pointer;
}

.duracion-bloque h2 {
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

.padingH{
    padding: 0px;
}

.alingR{
   text-align: justify;
}

.padingH:nth-child(8), .padingH:nth-child(8) { width: 12em; }

.datos-container2 th {
    background-color: #BFFF99;
}

.conforme-fuente{
    display: flex;
    margin-left: 0%;

}

th.conformity-header {
    text-align: center;
    vertical-align: middle;
}

.update-button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #00ca3d;
    color: #ffffff;
    border: none;
    width: 14%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 11px;
}

.update-button:hover {
    background-color: #00967f;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.update-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.update-button-container.hidden {
    display: none;
}

.form-group-datos p{
    font-size: 50px;
}

.textarea-custom {
    width: auto;
    height: 90px;
}

.espacio-test{
    display: flex;
    padding: 0%;
}

.textarea-custom {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: none;
}

.selected-conforme {
    background-color: rgb(162, 255, 143);
}

.selected-m {
    background-color: rgb(255, 255, 159);
}

.selected-M {
    background-color: rgb(255, 196, 108);
}

.selected-C {
    background-color: rgb(255, 103, 103);
}

.selected-NA {
    background-color: rgb(161, 161, 161);
}

.percentage-green {
    background-color: rgb(106, 255, 77) !important;
    color: white;
}

.percentage-yellow {
    background-color: rgb(241, 241, 17) !important;
    color: white;
}

.percentage-orange {
    background-color: orange !important;
    color: white;
}

.percentage-red {
    background-color: red !important;
    color: white;
}