.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto 0;
    width: 79em;
    height: 100%;
    max-width: 80rem;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; 
    z-index: 1;
}

.responsive-image {
    position: absolute;
    left: 7rem;
    top: 1rem;
    width: 70rem;
    height: 60rem;
    z-index: -1;
}

.text-area {
    background-color: transparent;
    color: black;
    position: absolute;
    font-size: larger;
    width: 12em;
    height: 3.8em;
    text-align: center;
    resize: none;
    border: none;
    outline: none;
    overflow: hidden; 
}

.posicion-en{
    margin-right: 62rem;
}

.posicion-en-2{
    position: absolute;
    top: 8rem;
    margin-left: 56rem;
}

.logo-empresa {
    height: auto;
    max-width: 15rem;
    border-radius: 10px;
    margin: 0 0 0 62rem;

}

.posicion-bo{
    margin-top: 37rem;
}

.button-agregar{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
    color: #ffffff;
    border: none;
    background-color: rgb(0, 76, 216);
}

.button-guar-ish{
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 10px;
    color: #ffffff;
    border: none;
    background-color: rgb(0, 216, 126);

}

.table-ish table {
    width: 70rem;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

.table-ish th{
    padding: 4px;
    background-color:  #BFFF99;
}

.sub-div{
    flex-direction: column;
    align-items: center;
}

.left{
    margin-left: 25%;
}

.right{
    margin-left: 45%;
}

.posicion-en h2 {
    position: relative;
}

.problema-input {
    position: absolute;
    height: 23px;
    width: 45rem;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}

.textarea-acc{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
}

.table-input{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: none;
}

.cancel-acc {
    border: none; 
    padding: 0; 
  }
  
  .cancel-acc button {
    padding: 9px;
    border-radius: 8px;
    background: #ff0a0a; 
    border: none; 
    color: #ffffff; 
    cursor: pointer; 
  }
  