.content-diagrama{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 2rem auto 0;
    margin-top: 4rem;
    width: 80rem;
    max-width: 100rem;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.duracion-bloque-repo h2 {
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}